<div class="login-box center">
    <form role="form">
        <div class="form-group">
            <input type="InsProName" class="form-control" data-ng-model="signup.signupDetails.InsProName" placeholder="Instagram profile name">
        </div>
        <div class="form-group">
            <input type="mobile" class="form-control" data-ng-model="signup.signupDetails.mobile"placeholder="Mobile">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" data-ng-model="signup.signupDetails.InsProPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success" data-ng-click="signup.saveSignupDetails()">SignUp</button>
    </form>
</div>